* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  /* background-image: linear-gradient(to right,khaki,pink); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  margin: auto;
  padding: 20px;
}
.display {
  font-size: 50px;
  margin: 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
button i {
  font-size: 25px;
  
}
#start {
  background-color: green;
}
#reset {
  background-color: orangered;
}
.mode {
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid gray;
  margin: auto;
  position: relative;
 
  
}
.indicator {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid rgb(116, 115, 115);
  transition: 0.5s;
}
.active {
  background-color: rgba(0, 0, 0, 0.884);
  color: white;

}
